@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #06B6D4;
  --color-accent: #F59E0B;
  --color-text-main: #111827;
  --color-text-muted: #4B5563;
  --color-bg-alt: #F9FAFB;
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Space Grotesk', sans-serif;
}

@layer utilities {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    max-width: 1280px;
  }
}
